<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Voice Control</title>
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
    
      <!--script src="{{ url_for('static', filename='js/csmapi.js') }}" type="text/javascript"></script-->
    
    
  </head>
  <body>
    <script type="text/javascript">
      var recognitionTitle = {"en-US":"Recognition Result","cmn-Hant-TW":"辨識結果"} 
      var recognitionBox = document.getElementById("recognitionBox"); // 最終的辨識訊息  "HTML元件"
      var final_transcript = ''; // 最終的辨識訊息 "JS變數"
        
      var responseTitle = {"en-US":"System Response","cmn-Hant-TW":"系統回覆"}  
      var responseBox =   document.getElementById("responseBox");  //系統回覆
        
      
      var startStopButton; // 「辨識/停止」按鈕
      var infoBox = document.getElementById("infoBox");; // 提示使用者的訊息
      
      var selectlangBox = document.getElementById("selectlangBox"); // 語言選擇的下拉式選單
      

      
      var recognizing = false; // 是否辨識中 API專用
      
      

    
        
      function selectLanguage(event){
          recognition.stop(); //停止目前的辨識
          
          language = selectlangBox.options[selectlangBox.selectedIndex].value; // 取得被選擇的語言
          
          $("#responseBox").val(""); //清空 系統回應
          $("#recognitionBox").val(""); //清空 HTML的辨識結果 “可視的元件”
          final_transcript="";   //清空 API的辨識結果 "變數"
                 
          recognition.lang = language;   //辨識API切換至當前語言
          $("#recognitionTitle").html(recognitionTitle[language]) // 辨識欄位的標題切換至當前語言
          $("#responseTitle").html(responseTitle[language])       // 回應欄位的標題切換至當前語言
          
          
          if(language == "en-US"){    //提示使用者的訊息切換至當前語言
              infoBox.innerText = "Tap to start"
              
          }else{
              infoBox.innerText = "按此開始"
          }
          
         
            
        }
        
      function startButton(event) {
        infoBox = document.getElementById("infoBox"); // 取得訊息控制項 infoBox
        recognitionBox = document.getElementById("recognitionBox"); // 取得最終的辨識訊息控制項 recognitionBox
        startStopButton = document.getElementById("startStopButton"); // 取得「辨識/停止」這個按鈕控制項
        selectlangBox = document.getElementById("selectlangBox");
        language = selectlangBox.options[selectlangBox.selectedIndex].value;
        if (recognizing) { // 如果正在辨識，則停止。
          recognition.stop();
        } else { // 否則就開始辨識
          recognitionBox.value = ''; // 清除最終的辨識訊息
          final_transcript = ''; // 最終的辨識訊息變數
          recognition.lang = language //設定當前語言
          recognition.start(); // 開始辨識
        }
      }

      if (!('webkitSpeechRecognition' in window)) {  // 如果找不到 window.webkitSpeechRecognition 這個屬性
        // 就是不支援語音辨識，要求使用者更新瀏覽器。 
        infoBox.innerText = "本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)";
      } else {
        var recognition = new webkitSpeechRecognition(); // 建立語音辨識物件 webkitSpeechRecognition
        recognition.continuous = true;                   // 設定連續辨識模式
        recognition.interimResults = true;               // 設定輸出持續產生結果。
        

        recognition.onstart = function() { // 開始辨識
          recognizing = true; // 設定為辨識中
          // startStopButton.value = "按此停止"; // 辨識中...按鈕改為「按此停止」。  
          if(language == "en-US"){
              infoBox.innerText = "Tap to stop";  // 顯示訊息為「辨識中」...
          }else{
              infoBox.innerText = "按此停止";  // 顯示訊息為「辨識中」...
          }
          startStopButton.src="{{ url_for('static', filename='images/start.gif') }}";
        };

        recognition.onend = function() { // 辨識完成
          recognizing = false; // 設定為「非辨識中」
          // startStopButton.value = "開始辨識";  // 辨識完成...按鈕改為「開始辨識」。
           if(language == "en-US"){
               infoBox.innerText = "Tap to start";  // 顯示訊息為
           }else{
               infoBox.innerText = "按此開始"; // 不顯示訊息
           }
          startStopButton.src="{{ url_for('static', filename='images/stop.jpg') }}";

        };

        recognition.onresult = function(event) { // 辨識有任何結果時
          for (var i = event.resultIndex; i < event.results.length; ++i) { // 對於每一個辨識結果
            if (event.results[i].isFinal) { // 如果是最終結果
                final_transcript = event.results[i][0].transcript; // 將其加入最終結果中
                console.log("i:" + i + event.results[i][0].transcript);
            } else { // 否則
              interim_transcript += event.results[i][0].transcript; // 將其加入中間結果中
            }
          }
          if (final_transcript.trim().length > 0) // 如果有最終辨識文字
              recognitionBox.value = final_transcript; // 顯示最終辨識文字
            // go to backend
            
            
            var val = 1;
            var entry1 = 3;

            $.getJSON({
                url: "/ProcessSentence",
                data: { entry2_id: val, entry1_id: entry1 , lang_id : language, voice : final_transcript},
                success: function(data){
                    console.log("AA", data)
                    if(language == "en-US"){
                        if(data.valid<0){
                            renderhtml = data.response+data.valid
                            switch(data.valid){
                                case -2: renderhtml = "No Device in sentence"
                                case -3: renderhtml = "No device feature in sentence"
                                case -4: renderhtml = "Device feature need value"
                                case -5: renderhtml = "Device not support device feature"
                            }
                        }
                        else{
                            renderhtml = data.response+data.tokenlist[0]+data.tokenlist[1]+" "+data.tokenlist[2]+" "+data.tokenlist[3]
                        }
                    }
                    else if(language == "cmn-Hant-TW"){
                        if(data.valid<0){
                            renderhtml = data.response+data.valid
                            switch(data.valid){
                                case -2: renderhtml = "句子中未包含電器"
                                case -3: renderhtml = "句子中未包含電器功能"
                                case -4: renderhtml = "電器功能需要給予值"
                                case -5: renderhtml = "電器不支援此功能"
                            }
                        }
                        else{
                            renderhtml = data.response+data.tokenlist[0]+data.tokenlist[1]+data.tokenlist[2]+data.tokenlist[3]
                        }
                    }
                    

                    console.log(renderhtml)
                    $("#responseBox").val(renderhtml);
                },
                error: function(){
                    //alert("fail")
                }
            });
             
            //
            
              
        };
      }
        
        
        
    </script>

    <div class="container text-center">
      <div class="form-group">
        <br>
        <h1 class="h3 mb-3 font-weight-normal">VoiceTalk</h1>
        <div class="col-sm">
          <label id ="recognitionTitle" for="recognitionBox">辨識結果:</label>
          
          <input id="recognitionBox" class="form-control" type="text" size="60" value=""/>
            <br>
            <br>
          <!--form method="post">
            <input type="text" name="user">
            <input type="submit" name="send" value="文字送出">
          </form-->
        </div>
        <div class="col-sm">
            <label id="responseTitle" for="recognitionBox">系統回覆:</label>
             
            <div id = "resultarea">
                  <input id="responseBox" class="form-control" size="60" readonly />
                  <span id="response"></span>
                  
            </div>
        </div>    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-sm">
        
          <img id="startStopButton" style="width:110px; height:110px;" onclick="startButton(event)" src="{{ url_for('static', filename='images/start.gif') }}"/>
            
          <br>
          <p id="infoBox">按此開始</p>
          
          
        </div>
          <form method="post" >
              <select id = "selectlangBox" name="lang" onchange="selectLanguage(event)" >
                    <option value="cmn-Hant-TW">中文</option>
                    <option value="en-US">English</option>
                </select>
          </form>
          
                

      </div>
    </div>
    

    <script type="text/javascript">
        window.onload = startButton(event);
        window.onload = selectLanguage(event);
    </script>
      

    
      
      
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='js/langswitch.js') }}" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
